@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
.information div:nth-child(1) a,
.information div:nth-child(2) a {
  cursor: pointer;
  color: #4869bd;
}
@media only screen and (min-width: 1024px) {
  .header_image {
    max-height: 75px;
  }
  .header_image img {
    width: auto;
    height: 100%;
  }
  .social_icons img {
    margin-top: 1em;
    width: auto;
    max-height: 36px;
    height: 100%;
  }
  .social_icons {
    margin-right: 10px;
  }

  #nav_bar {
    justify-content: space-between;
    width: 81%;
    margin: auto;
  }
  .header_text h1 {
    color: #4869bd;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    margin-top: 9px;
    text-shadow: 1px 1px 1px #6f1cbd, 0 0 0.2em #6f1cbd;
  }
  .header_image a:nth-child(2) {
    display: none;
  }
  .information {
    margin-right: 4px !important;
  }
  .information div {
    margin-left: 5px;
  }
}
@media (max-width: 1023px) and (min-width: 426px) {
  .header_image {
    max-height: 100px;
  }
  .header_image img {
    width: 90%;
    height: 100%;
  }
  .social_icons img {
    margin-top: 1em;
    width: auto;
  }

  #nav_bar {
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }
  .header_text {
    display: none;
  }
  .header_image a:nth-child(2) {
    display: none;
  }
}
@media only screen and (max-width: 425px) {
  .header_image {
    max-height: 140px;
  }
  .header_image img {
    width: auto;
    height: 150px;
  }
  .social_icons img {
    margin-top: 2.5em;
    width: auto;
  }
  #nav_bar {
    justify-content: space-between !important;
    width: 100%;
  }
  .header_text {
    display: none;
  }
  .header_image a:nth-child(1) {
    display: none;
  }
  .information div {
    margin-left: 5px;
  }
  .information {
    margin-right: 4px !important;
  }
}
